In [ ]:
import pandas as pd
import numpy as np

In [ ]:
credits = pd.read_csv('credits.csv')
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
keywords = pd.read_csv('keywords.csv')
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [ ]:
merged_df = pd.merge(credits, keywords, on='id')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46496 entries, 0 to 46495
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      46496 non-null  object
 1   crew      46496 non-null  object
 2   id        46496 non-null  int64
 3   keywords  46496 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.4+ MB

#**movies_metadata = pd.read_csv('movies_metadata.csv', dtype={"id": np.int64})**
## ValueError: invalid literal for int() with base 10: '1997-08-20'

## Solution:
#### movies_metadata = pd.read_csv('movies_metadata.csv')
#### movies_metadata['id'] = pd.to_numeric(movies_metadata['id'], errors='coerce')
#### movies_metadata['id'] = movies_metadata['id'].astype(pd.Int64Dtype())
#### movies_metadata.info()

In [ ]:
movies_metadata = pd.read_csv('movies_metadata.csv')

values_to_remove = ['1997-08-20', '2012-09-29', '2014-01-01']
movies_metadata = movies_metadata[~movies_metadata['id'].isin(values_to_remove)]

movies_metadata = movies_metadata.astype({"id": np.int64})
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  object
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), int64(1), object(19)
memory usage: 8.7+ MB

<ipython-input-13-f155e9d7270f>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv('movies_metadata.csv')

In [ ]:
final_df = pd.merge(merged_df, movies_metadata, on='id')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cast                   46628 non-null  object
 1   crew                   46628 non-null  object
 2   id                     46628 non-null  int64
 3   keywords               46628 non-null  object
 4   adult                  46628 non-null  object
 5   belongs_to_collection  4574 non-null   object
 6   budget                 46628 non-null  object
 7   genres                 46628 non-null  object
 8   homepage               8009 non-null   object
 9   imdb_id                46611 non-null  object
 10  original_language      46617 non-null  object
 11  original_title         46628 non-null  object
 12  overview               45633 non-null  object
 13  popularity             46624 non-null  object
 14  poster_path            46229 non-null  object
 15  production_companies   46624 non-null  object
 16  production_countries   46624 non-null  object
 17  release_date           46540 non-null  object
 18  revenue                46624 non-null  float64
 19  runtime                46360 non-null  float64
 20  spoken_languages       46624 non-null  object
 21  status                 46542 non-null  object
 22  tagline                20783 non-null  object
 23  title                  46624 non-null  object
 24  video                  46624 non-null  object
 25  vote_average           46624 non-null  float64
 26  vote_count             46624 non-null  float64
dtypes: float64(4), int64(1), object(22)
memory usage: 9.6+ MB

In [ ]:
selected_columns = ['id', 'genres', 'original_title', 'poster_path', 'overview',
                    'original_language', 'release_date', 'keywords', 'cast', 'crew']
final_df = final_df[selected_columns]

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 46628 non-null  int64
 1   genres             46628 non-null  object
 2   original_title     46628 non-null  object
 3   poster_path        46229 non-null  object
 4   overview           45633 non-null  object
 5   original_language  46617 non-null  object
 6   release_date       46540 non-null  object
 7   keywords           46628 non-null  object
 8   cast               46628 non-null  object
 9   crew               46628 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.6+ MB

In [ ]:
from typing_extensions import final
final_df = final_df.rename(columns={
    'original_title': 'title',
    'poster_path': 'poster',
    'original_language': 'language',
    'release_date': 'release'
})

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46628 non-null  int64
 1   genres    46628 non-null  object
 2   title     46628 non-null  object
 3   poster    46229 non-null  object
 4   overview  45633 non-null  object
 5   language  46617 non-null  object
 6   release   46540 non-null  object
 7   keywords  46628 non-null  object
 8   cast      46628 non-null  object
 9   crew      46628 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.6+ MB

In [ ]:
final_df.drop_duplicates(inplace=True)
final_df.dropna(inplace=True)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44094 entries, 0 to 46627
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        44094 non-null  int64
 1   genres    44094 non-null  object
 2   title     44094 non-null  object
 3   poster    44094 non-null  object
 4   overview  44094 non-null  object
 5   language  44094 non-null  object
 6   release   44094 non-null  object
 7   keywords  44094 non-null  object
 8   cast      44094 non-null  object
 9   crew      44094 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.7+ MB

In [ ]:
final_df.drop_duplicates(subset=['title'], keep='first', inplace=True)

In [ ]:
final_df.drop_duplicates(subset=['poster'], keep='first', inplace=True)

In [ ]:
final_df.drop_duplicates(subset=['overview'], keep='first', inplace=True)

In [ ]:
final_df = final_df[final_df['genres'] != "[]"]

In [ ]:
final_df = final_df[final_df['keywords'] != "[]"]

In [ ]:
final_df = final_df[final_df['cast'] != "[]"]

In [ ]:
final_df = final_df[final_df['crew'] != "[]"]

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28086 entries, 0 to 46624
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        28086 non-null  int64
 1   genres    28086 non-null  object
 2   title     28086 non-null  object
 3   poster    28086 non-null  object
 4   overview  28086 non-null  object
 5   language  28086 non-null  object
 6   release   28086 non-null  object
 7   keywords  28086 non-null  object
 8   cast      28086 non-null  object
 9   crew      28086 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.4+ MB

In [ ]:
final_df.to_csv('movies.csv', index=False)